schemas/oprindelige/Amortf.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://e-nettet.dk/xml/schemas/2007/07/01/"
	xmlns:tns="http://e-nettet.dk/xml/schemas/2007/07/01/"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="FeltTyper.xsd" />
	<xs:element name="AMORTF" type="tns:AMORTF_Type" />
	<xs:complexType name="AMORTF_Type">
		<xs:sequence>
			<xs:element name="Onskes_amortoplysninger"
				type="tns:Kodeliste1" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
