schemas/oprindelige/Fjltxt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://e-nettet.dk/xml/schemas/2007/07/01/"
	xmlns:tns="http://e-nettet.dk/xml/schemas/2007/07/01/"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="FeltTyper.xsd" />
	<xs:element name="FJLTXT" type="tns:FJLTXT_Type" />
	<xs:complexType name="FJLTXT_Type">
		<xs:sequence>
			<xs:element name="Fejlkode" type="tns:AN70" />
			<xs:element name="Fejltekst" type="tns:AN280" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
