schemas/BBR.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://e-nettet.dk/xml/schemas/2007/07/01/" targetNamespace="http://e-nettet.dk/xml/schemas/2007/07/01/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="FeltTyper.xsd"/>
	<xs:element name="BBR" type="tns:BBR_Type"/>
	<xs:complexType name="BBR_Type">
		<xs:sequence>
			<xs:element name="BBR-nr" type="tns:N10" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
