schemas/Ejdmid_svar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://e-nettet.dk/xml/schemas/2007/07/01/"
	xmlns:tns="http://e-nettet.dk/xml/schemas/2007/07/01/"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="FeltTyper.xsd" />
	<xs:include schemaLocation="Sted.xsd" />
	<xs:element name="EJDMIDSVAR" type="tns:EJDMIDSVAR_Type" />
	<xs:complexType name="EJDMIDSVAR_Type">
		<xs:sequence>
			<xs:element name="Ejendomsident" type="tns:AN12" />
			<xs:element ref="tns:STED" maxOccurs="99" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
