schemas/FeltTyper.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://e-nettet.dk/xml/schemas/2007/07/01/"
	xmlns:tns="http://e-nettet.dk/xml/schemas/2007/07/01/"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- Meddelelsens navn - kodeliste 44 -->
	<xs:simpleType name="Meddelelsens_navn">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="Z06" />
		</xs:restriction>
	</xs:simpleType>
	<!-- Meddelelsens type -->
	<xs:simpleType name="Meddelelsens_type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6" />
			<xs:enumeration value="REQDOC" />
			<xs:enumeration value="MORDOC" />
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 1 -->
	<xs:simpleType name="Kodeliste1">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="Ja" />
			<xs:enumeration value="Nej" />
			<xs:enumeration value="IA" />
			<!-- Ikke aktuel -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 2 -->
	<xs:simpleType name="Kodeliste2">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="Ja" />
			<xs:enumeration value="Nej" />
			<xs:enumeration value="Msk" />
			<!-- Ja -->
			<!-- Nej -->
			<!-- Maaske -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 3 -->
	<xs:simpleType name="Kodeliste3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<!-- Ikke oplyst -->
			<!-- Ikke tilgaengelige -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 4 -->
	<xs:simpleType name="Kodeliste4">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="PRI" />
			<xs:enumeration value="EJP" />
			<xs:enumeration value="SKA" />
			<xs:enumeration value="SPK" />
			<xs:enumeration value="STA" />
			<xs:enumeration value="STK" />
			<xs:enumeration value="BRF" />
			<xs:enumeration value="DLR" />
			<xs:enumeration value="DK" />
			<xs:enumeration value="HKK" />
			<xs:enumeration value="LRF" />
			<xs:enumeration value="N" />
			<xs:enumeration value="RD" />
			<xs:enumeration value="TOT" />
			<xs:enumeration value="UNI" />
			<xs:enumeration value="FK" />
			<xs:enumeration value="GI" />
			<xs:enumeration value="IHF" />
			<xs:enumeration value="IRF" />
			<xs:enumeration value="JK" />
			<xs:enumeration value="KI" />
			<xs:enumeration value="PRF" />
			<xs:enumeration value="ALL" />
			<xs:enumeration value="BGK" />
			<xs:enumeration value="NOR" />
			<!-- Private pantebreve -->
			<!-- Ejerpantebrev -->
			<!-- Skadesloesbrev -->
			<!-- Sparekasselaan -->
			<!-- Statslaan -->
			<!-- Statskassen -->
			<!-- BRF kredit -->
			<!-- Dansk landbrugs realkreditfond -->
			<!-- Danske kredit -->
			<!-- Husejernes kreditkasse -->
			<!-- Landsbankernes reallaanefond -->
			<!-- Nykredit -->
			<!-- Realkredit danmark -->
			<!-- Totalkredit -->
			<!-- Unikredit -->
			<!-- Forenede kreditforeninger -->
			<!-- Grundejernes investeringsfond -->
			<!-- Industriens hypotekfond -->
			<!-- Industriens realkreditfond -->
			<!-- Jyllands realkreditfond -->
			<!-- Kreditforeningen for industrielle ejendomme -->
			<!-- Provinsbankerne reallaanefond -->
			<!-- Alle realkreditinstitutter -->
			<!-- BG kredit -->
			<!-- Nordea kredit -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 5 -->
	<xs:simpleType name="Kodeliste5">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="9" />
			<xs:enumeration value="53" />
			<!-- Original -->
			<!-- Test -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 7 -->
	<xs:simpleType name="Kodeliste7">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="OI" />
			<xs:enumeration value="OH" />
			<xs:enumeration value="OB" />
			<xs:enumeration value="OE" />
			<!-- Oplysninger ikke tilgængelige -->
			<!-- Laanet er ydet i hele ejendommen -->
			<!-- Laanet er ydet i boligdelen -->
			<!-- Laanet er ydet i erhvervsdelen -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 10 -->
	<xs:simpleType name="Kodeliste10">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4" />
			<xs:enumeration value="A" />
			<xs:enumeration value="B" />
			<xs:enumeration value="IK" />
			<xs:enumeration value="C" />
			<xs:enumeration value="CL" />
			<xs:enumeration value="S" />
			<xs:enumeration value="AB-I" />
			<xs:enumeration value="C-I" />
			<xs:enumeration value="SIK" />
			<xs:enumeration value="U" />
			<!-- Omregningskurser for aeldre annuitetslaan -->
			<!-- Omregningskurser for aeldre serielaan -->
			<!-- Omregningskurser for aeldre inkonverterbare annuitets- og serielaan -->
			<!-- Omregningsregler for andre pantebreve -->
			<!-- Omregningskurser for andre pantebreve (landbrugsejendomme) -->
			<!-- Omregningskurser for staaende laan med fast rente -->
			<!-- Omregningskurser for sikre private indekspantebreve -->
			<!-- Omregningskurser for usikre private indekspantebreve-->
			<!-- Omregningskurser for inkonverterbare staaende laan med fast rente -->
			<!-- Omregningskurser for aeldre annuitetslaan (som tabel A, men med nominel rente paa 6 procent) -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 26 -->
	<xs:simpleType name="Kodeliste26">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="1" />
			<xs:enumeration value="3" />
			<xs:enumeration value="8" />
			<xs:enumeration value="11" />
			<xs:enumeration value="Z01" />
			<xs:enumeration value="Z02" />
			<!-- Accepteret -->
			<!-- Data mangler for et eller flere institutter -->
			<!-- Afvist -->
			<!-- Ikke tilgængeligt -->
			<!-- Ingen nye informationer siden angivne dato -->
			<!-- Afvist: Ugyldig dato i forespørgsel -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 29 -->
	<xs:simpleType name="Kodeliste29">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="K" />
			<xs:enumeration value="O" />
			<xs:enumeration value="OM" />
			<xs:enumeration value="KM" />
			<xs:enumeration value="KO" />
			<xs:enumeration value="RF" />
			<xs:enumeration value="P" />
			<xs:enumeration value="RP" />
			<xs:enumeration value="A" />
			<xs:enumeration value="S" />
			<xs:enumeration value="SA" />
			<xs:enumeration value="J" />
			<xs:enumeration value="JA" />
			<xs:enumeration value="U" />
			<xs:enumeration value="VOM" />
			<xs:enumeration value="VOU" />
			<!-- Kontantlaan -->
			<!-- Obligationslaan -->
			<!-- Obligationslaan (mixlaan) -->
			<!-- Kontantlaan (mixlaan) -->
			<!-- Kontantlaan baseret paa obligationsudstedelse -->
			<!-- Reservefondslaan udstedt af realkreditinstitut -->
			<!-- Private pantebreve -->
			<!-- Rentetilpasningslaan -->
			<!-- Andet laan -->
			<!-- Seriejordbrugslaan uden afdragsbidrag -->
			<!-- Seriejordbrugslaan med afdragsbidrag -->
			<!-- Staaende jordbrugslaan uden afdragsbidrag -->
			<!-- Staaende jordbrugslaan med afdragsbidrag -->
			<!-- Udlandslaan -->
			<!-- Variabel forrentet obligationslaan med renteloft -->
			<!-- Variabel forrentet obligationslaan uden renteloft -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 30 -->
	<xs:simpleType name="Kodeliste30">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="A" />
			<xs:enumeration value="S" />
			<xs:enumeration value="U" />
			<xs:enumeration value="RTP" />
			<xs:enumeration value="I" />
			<xs:enumeration value="IE" />
			<xs:enumeration value="IS" />
			<xs:enumeration value="RF" />
			<xs:enumeration value="F" />
			<xs:enumeration value="G" />
			<xs:enumeration value="IJA" />
			<xs:enumeration value="IJB" />
			<xs:enumeration value="IJC" />
			<xs:enumeration value="IJD" />
			<!-- Annuitet -->
			<!-- Serie -->
			<!-- Uamortisabelt -->
			<!-- Rentetilpasning -->
			<!-- Indekslaan type I -->
			<!-- Indekslaan type IE -->
			<!-- Indekslaan type IS -->
			<!-- Reservefondslaan -->
			<!-- Afdragsfrie laan -->
			<!-- Grundforbedringslaan -->
			<!-- Jordbrugslaan, afdragsfri uden statsbidrag -->
			<!-- Jordbrugslaan, afdragsfri med statsbidrag -->
			<!-- Jordbrugslaan, serie uden statsbidrag -->
			<!-- Jordbrugslaan, serie med statsbidrag -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 31 -->
	<xs:simpleType name="Kodeliste31">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="F" />
			<xs:enumeration value="V" />
			<xs:enumeration value="R" />
			<!-- Fast rente -->
			<!-- Variabel rente -->
			<!-- Rentetilpasning -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 32 -->
	<xs:simpleType name="Kodeliste32">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="A" />
			<xs:enumeration value="S" />
			<xs:enumeration value="ST" />
			<xs:enumeration value="AM" />
			<xs:enumeration value="SM" />
			<!-- Annuitetslaan -->
			<!-- Serielaan -->
			<!-- Staaende laan -->
			<!-- Annuitetsdel af mixlaan -->
			<!-- Seriedel af mixlaan -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 33 -->
	<xs:simpleType name="Kodeliste33">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="A" />
			<xs:enumeration value="B" />
			<xs:enumeration value="C" />
			<xs:enumeration value="D" />
			<xs:enumeration value="E" />
			<xs:enumeration value="F" />
			<xs:enumeration value="G" />
			<xs:enumeration value="H" />
			<xs:enumeration value="I" />
			<xs:enumeration value="J" />
			<xs:enumeration value="K" />
			<xs:enumeration value="L" />
			<xs:enumeration value="S" />
			<!-- Bidrag beregnes af renteafdrag -->
			<!-- Bidrag beregnes af obligationsrestgaeld -->
			<!-- Bidrag beregnes af laanerestgaeld, kontant ydelse -->
			<!-- Bidrag beregnes af hovedstol -->
			<!-- Bidrag beregnes af oprindelig obligationshovedstol -->
			<!-- Bidrag er et fast beloeb -->
			<!-- Bidrag beregnes af rente -->
			<!-- Bidrag er indeholdt i renten -->
			<!-- Bidrag er indeholdt i kontantlaansrenten -->
			<!-- Bidrag beregnes af ydelse og rente -->
			<!-- Bidrag beregnes af laanerestgaeld, faldende ydelse -->
			<!-- Indekseret obligationsrestgæld -->
			<!-- Saerligt grundlag -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 34 -->
	<xs:simpleType name="Kodeliste34">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="K" />
			<xs:enumeration value="I" />
			<xs:enumeration value="KM" />
			<xs:enumeration value="U" />
			<!-- Konvertibel -->
			<!-- Inkonvertibel -->
			<!-- Konvertibel ved mixlaan -->
			<!-- Udefineret -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 35 -->
	<xs:simpleType name="Kodeliste35">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="3" />
			<xs:enumeration value="4" />
			<xs:enumeration value="5" />
			<xs:enumeration value="11" />
			<xs:enumeration value="12" />
			<xs:enumeration value="21" />
			<!-- YJ ordning 1985 -->
			<!-- YJ ordning 1991 -->
			<!-- YJ ordning 1995 -->
			<!-- YJ ordning 4 anno 2000 -->
			<!-- YJ ordning 2000 -->
			<!-- Hoesttab med ydelsestilskud -->
			<!-- Hoesttab uden ydelsestilskud -->
			<!-- Gaeldssaneringslaan -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 36 -->
	<xs:simpleType name="Kodeliste36">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="Z52" />
			<xs:enumeration value="Z53" />
			<xs:enumeration value="Z54" />
			<xs:enumeration value="Z55" />
			<xs:enumeration value="Z56" />
			<xs:enumeration value="Z57" />
			<xs:enumeration value="Z58" />
			<xs:enumeration value="Z59" />
			<xs:enumeration value="Z60" />
			<xs:enumeration value="Z61" />
			<xs:enumeration value="Z62" />
			<xs:enumeration value="Z63" />
			<xs:enumeration value="Z64" />
			<xs:enumeration value="Z65" />
			<xs:enumeration value="Z66" />
			<xs:enumeration value="Z67" />
			<xs:enumeration value="Z68" />
			<xs:enumeration value="Z69" />
			<xs:enumeration value="Z70" />
			<xs:enumeration value="Z71" />
			<xs:enumeration value="Z72" />
			<!-- Almennyttige boliger med IS laan -->
			<!-- Almennyttige boliger med ordinære omprio. laan, nominallaan -->
			<!-- Almennyttige boliger med saerlige omprio. laan, nominallaan -->
			<!-- Almennyttige boliger (byggeskader B renovering) -->
			<!-- Private andelsforeninger med IS laan -->
			<!-- Ungdomsboliger med IS laan -->
			<!-- Ungdomsboliger med IS laan pgf. 73b revovering -->
			<!-- Aeldreboliger med IS laan -->
			<!-- Saerlige bofaellesskaber med IS laan -->
			<!-- +55 bofaellesskaber med IS laan -->
			<!-- Offentlig byfornyelse og forbedringer med IS laan -->
			<!-- Offentlig byfornyelse og forbedringer med nominal laan -->
			<!-- Offentlig byfornyelse og vedligeholdelse/tab med IS laan -->
			<!-- Private byfornyelser med nominallaan -->
			<!-- Kontor og forretningsejendomme -->
			<!-- Social og kulturel (60%) -->
			<!-- Social og kulturel (80%) -->
			<!-- Undervisning (60%) -->
			<!-- Undervisning (80%) -->
			<!-- Privat udlejning -->
			<!-- Andet byggeri -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 37 -->
	<xs:simpleType name="Kodeliste37">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="Z73" />
			<xs:enumeration value="Z74" />
			<xs:enumeration value="Z75" />
			<xs:enumeration value="Z76" />
			<xs:enumeration value="Z77" />
			<xs:enumeration value="Z78" />
			<xs:enumeration value="Z79" />
			<xs:enumeration value="Z80" />
			<xs:enumeration value="Z81" />
			<xs:enumeration value="Z82" />
			<!-- Staten -->
			<!-- Stat og kommune -->
			<!-- Stat og amtskommune -->
			<!-- Amtskommune -->
			<!-- Kommunen -->
			<!-- Beboere ikke stoetteberettigede udgifter -->
			<!-- Beboer overfinansiering -->
			<!-- Boligselskabernes landsbyggefond -->
			<!-- Stat og grundejernes investeringsfond -->
			<!-- Debitor - ikke stoettet byggeri -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 38 -->
	<xs:simpleType name="Kodeliste38">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="Z83" />
			<xs:enumeration value="Z84" />
			<xs:enumeration value="Z85" />
			<xs:enumeration value="Z86" />
			<xs:enumeration value="Z87" />
			<xs:enumeration value="Z88" />
			<!-- Bofaellesskaber -->
			<!-- Aeldreboliger -->
			<!-- Ikke stoettet byggeri -->
			<!-- Ungdomsboliger -->
			<!-- Almennyttige boliger -->
			<!-- Private andelsboliger -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 39 -->
	<xs:simpleType name="Kodeliste39">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="Z73" />
			<xs:enumeration value="Z76" />
			<xs:enumeration value="Z77" />
			<xs:enumeration value="Z80" />
			<xs:enumeration value="Z89" />
			<!-- Staten -->
			<!-- Amtskommunen -->
			<!-- Kommunen -->
			<!-- Boligselskabernes landsbyggefond -->
			<!-- Debitor -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 40 -->
	<xs:simpleType name="Kodeliste40">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="Z38" />
			<xs:enumeration value="Z92" />
			<xs:enumeration value="Z93" />
			<xs:enumeration value="Z94" />
			<xs:enumeration value="Z95" />
			<xs:enumeration value="Z96" />
			<xs:enumeration value="Z97" />
			<!-- Saerligt grundlag -->
			<!-- Afdrag -->
			<!-- Indekseret kontanthovedstol -->
			<!-- Provenuet -->
			<!-- Renten -->
			<!-- Resten -->
			<!-- Ydelsen -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 41 -->
	<xs:simpleType name="Kodeliste41">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="ANN" />
			<xs:enumeration value="SER" />
			<xs:enumeration value="STA" />
			<!-- Annuitet -->
			<!-- Serie -->
			<!-- Staaende -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 42 -->
	<xs:simpleType name="Kodeliste42">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="F" />
			<xs:enumeration value="P" />
			<xs:enumeration value="T" />
			<xs:enumeration value="F+" />
			<!-- F -->
			<!-- P -->
			<!-- T -->
			<!-- F+ -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 43 -->
	<xs:simpleType name="Kodeliste43">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="3" />
			<xs:enumeration value="4" />
			<!-- Fast loebetid -->
			<!-- Fast ydelse -->
			<!-- Oensket ydelse -->
			<!-- Oensket loebetid -->
		</xs:restriction>
	</xs:simpleType>
	<!-- Kodeliste 51 -->
	<xs:simpleType name="Kodeliste51">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
			<xs:enumeration value="GO5" />
			<xs:enumeration value="SF1" />
			<xs:enumeration value="SF2" />
			<xs:enumeration value="SF3" />
			<xs:enumeration value="SF4" />
			<xs:enumeration value="SF5" />
			<xs:enumeration value="SF6" />
			<xs:enumeration value="G10" />
			<xs:enumeration value="GF5" />
			<!-- Gennemsnit over 5 børsdage frem til 3. sidste børsdag -->
			<!-- Sidste bankdag inden fixdato -->
			<!-- 2. sidste bankdag inden fixdato -->
			<!-- 3. sidste bankdag inden fixdato -->
			<!-- 4. sidste bankdag inden fixdato -->
			<!-- 5. sidste bankdag inden fixdato -->
			<!-- 6. sidste bankdag inden fixdato -->
			<!-- Gennemsnit af 10 første bankdage i hhv. maj og november -->
			<!-- Gennemsnit af 5 bankdage før 3. sidste bankdag inden fixingdato -->
		</xs:restriction>
		<!-- Gennemsnitsprincip -->
	</xs:simpleType>
	<!-- Numeriske typer -->
	<!-- 1 cifret tal -->
	<xs:simpleType name="N1">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="1" />
		</xs:restriction>
	</xs:simpleType>
	<!-- 2 cifret tal -->
	<xs:simpleType name="N2">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2" />
		</xs:restriction>
	</xs:simpleType>
	<!-- 3 cifret tal -->
	<xs:simpleType name="N3">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3" />
		</xs:restriction>
	</xs:simpleType>
	<!-- 4 cifret tal -->
	<xs:simpleType name="N4">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="4" />
		</xs:restriction>
	</xs:simpleType>
	<!-- 5 cifret tal med 2 decimaler -->
	<xs:simpleType name="N5_2">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5" />
			<xs:fractionDigits value="2" />
		</xs:restriction>
	</xs:simpleType>
	<!-- 6 cifret tal med 2 decimaler -->
	<xs:simpleType name="N6_2">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="6" />
			<xs:fractionDigits value="2" />
		</xs:restriction>
	</xs:simpleType>
	<!-- 8 cifret tal -->
	<xs:simpleType name="N8">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="8" />
		</xs:restriction>
	</xs:simpleType>
	<!-- 8 cifret tal med 3 decimaler -->
	<xs:simpleType name="N8_3">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8" />
			<xs:fractionDigits value="3" />
		</xs:restriction>
	</xs:simpleType>
	<!-- 8 cifret tal med 4 decimaler -->
	<xs:simpleType name="N8_4">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="8" />
			<xs:fractionDigits value="4" />
		</xs:restriction>
	</xs:simpleType>
	<!-- 10 cifret tal -->
	<xs:simpleType name="N10">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="10" />
		</xs:restriction>
	</xs:simpleType>
	<!-- 10 cifret tal med 6 decimaler -->
	<xs:simpleType name="N10_6">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10" />
			<xs:fractionDigits value="6" />
		</xs:restriction>
	</xs:simpleType>
	<!-- 13 cifret tal med 9 decimaler -->
	<xs:simpleType name="N13_9">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="13" />
			<xs:fractionDigits value="9" />
		</xs:restriction>
	</xs:simpleType>
	<!-- 15 cifret tal -->
	<xs:simpleType name="N15">
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="15" />
		</xs:restriction>
	</xs:simpleType>
	<!-- 17 cifret tal med 2 decimaler -->
	<xs:simpleType name="N17_2">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="17" />
			<xs:fractionDigits value="2" />
		</xs:restriction>
	</xs:simpleType>
	<!-- Alfabetiske typer -->
	<!--Strengtype med højst 3 tegn -->
	<xs:simpleType name="AN3">
		<xs:restriction base="xs:string">
			<xs:maxLength value="3" />
		</xs:restriction>
	</xs:simpleType>
	<!--Strengtype med højst 4 tegn -->
	<xs:simpleType name="AN4">
		<xs:restriction base="xs:string">
			<xs:maxLength value="4" />
		</xs:restriction>
	</xs:simpleType>
	<!--Strengtype med højst 5 tegn -->
	<xs:simpleType name="AN5">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5" />
		</xs:restriction>
	</xs:simpleType>
	<!--Strengtype med højst 6 tegn -->
	<xs:simpleType name="AN6">
		<xs:restriction base="xs:string">
			<xs:maxLength value="6" />
		</xs:restriction>
	</xs:simpleType>
	<!--Strengtype med højst 8 tegn -->
	<xs:simpleType name="AN8">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>
	<!--Strengtype med højst 9 tegn -->
	<xs:simpleType name="AN9">
		<xs:restriction base="xs:string">
			<xs:maxLength value="9" />
		</xs:restriction>
	</xs:simpleType>
	<!--Strengtype med højst 12 tegn -->
	<xs:simpleType name="AN12">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12" />
		</xs:restriction>
	</xs:simpleType>
	<!--Strengtype med højst 15 tegn -->
	<xs:simpleType name="AN15">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15" />
		</xs:restriction>
	</xs:simpleType>
	<!--Strengtype med højst 25 tegn -->
	<xs:simpleType name="AN25">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25" />
		</xs:restriction>
	</xs:simpleType>
	<!--Strengtype med højst 35 tegn -->
	<xs:simpleType name="AN35">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35" />
		</xs:restriction>
	</xs:simpleType>
	<!--Strengtype med højst 40 tegn -->
	<xs:simpleType name="AN40">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40" />
		</xs:restriction>
	</xs:simpleType>
	<!--Strengtype med højst 42 tegn -->
	<xs:simpleType name="AN42">
		<xs:restriction base="xs:string">
			<xs:maxLength value="42" />
		</xs:restriction>
	</xs:simpleType>
	<!--Strengtype med højst 70 tegn -->
	<xs:simpleType name="AN70">
		<xs:restriction base="xs:string">
			<xs:maxLength value="70" />
		</xs:restriction>
	</xs:simpleType>
	<!--Strengtype med højst 280 tegn -->
	<xs:simpleType name="AN280">
		<xs:restriction base="xs:string">
			<xs:maxLength value="280" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
