schemas/Laanbm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://e-nettet.dk/xml/schemas/2007/07/01/"
	xmlns:tns="http://e-nettet.dk/xml/schemas/2007/07/01/"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="FeltTyper.xsd" />
	<xs:element name="LAANBM" type="tns:LAANBM_Type" />
	<xs:complexType name="LAANBM_Type">
		<xs:sequence>
			<xs:element name="Laanebemaerkninger" type="tns:AN70" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
