schemas/Restan_svar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://e-nettet.dk/xml/schemas/2007/07/01/"
	xmlns:tns="http://e-nettet.dk/xml/schemas/2007/07/01/"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="FeltTyper.xsd" />
	<xs:element name="RESTANSVAR" type="tns:RESTANSVAR_Type" />
	<xs:complexType name="RESTANSVAR_Type">
		<xs:sequence>
			<xs:element name="Restance_kr" type="tns:N17_2" />
			<xs:element name="Valutakode1" type="tns:AN3" />
			<xs:element name="Restance_dato" type="tns:N8" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
