schemas/Restan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://e-nettet.dk/xml/schemas/2007/07/01/"
	xmlns:tns="http://e-nettet.dk/xml/schemas/2007/07/01/"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="FeltTyper.xsd" />
	<xs:element name="RESTAN" type="tns:RESTAN_Type" />
	<xs:complexType name="RESTAN_Type">
		<xs:attribute name="Onskes_restanceoplysninger"	type="tns:Kodeliste1" />
	</xs:complexType>
</xs:schema>
